
.formandoContainer {
    background-color: rgba(179, 196, 249, 0.3);
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.h1 {
    font-size: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #272b2f;
    text-align: center;
}

.h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #272b2f;
    text-align: center;
}