.imageContainer {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden; /* Asegura que el pseudoelemento no salga del contenedor */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex; /* Activa el modelo de caja flexible */
    flex-direction: column; /* Apila los elementos hijos verticalmente */
    justify-content: center; /* Centra verticalmente los elementos hijos */
    align-items: center; /* Centra horizontalmente los elementos hijos */
}

.imageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/332320709_929341091427566_3086844240419480818_n.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    z-index: -1;
}

.h1 {
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
}

.h2 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #fff;
    text-align: center;
    position: relative;
}

.h3 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000000;
}

.h4 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #000000;
    text-align: justify;
}