.card {
  width: 200px;
  height: 450px;
  border-radius: 30px;
  transition: transform 0.2s;
  margin: 0 10px; /* Espacio uniforme entre las cartas */
  flex: 0 0 calc(33.33% - 40px); /* Distribuye igualmente el espacio para tres cartas */
}

.card:hover {
  transform: scale(1.07);
}

.image {
  width: 500px;
  height: 400px;
  object-fit: contain; 
}

.content {
  padding: 10px;
  background-color: #e5edff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin: 0px 0;
  color: #666;
}
 