
.cardContainer { 
    display: flex;
    justify-content: space-between;
    width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho disponible */
    max-width: 1200px; /* Establece un ancho máximo para evitar que se estiren demasiado en pantallas grandes */
    margin-top: 70px;
    margin-left: 150px;
    margin-bottom: 70px;
  }
  