
.cardContainer { 
    display: flex;
    justify-content: space-around; /* Distribuye uniformemente las tarjetas dentro del contenedor */
    align-items: center;
    width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho disponible */
    margin-top: 70px;
    margin-bottom: 70px;
  }
  