.footer {
    background-color: #7fa8fa;  
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}