.footer {
    background-color: rgba(96, 114, 217, 0.9);  
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
