.logo {
    margin-left: 40px;
    width: 200px; 
    height: auto;
}

.logo2 {
    margin-left: 20px;
    width: 150px; 
    height: auto;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.text:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el mouse (si lo deseas) */
}

nav {
    background-color: rgba(96, 114, 217, 0.9);  
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
    text-decoration: none;
}

#toggler, .menu label {
    display: none;
}

.hamburger {
    display: none; /* Oculta la hamburguesa por defecto */
  }



@media screen and 
(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    .menu.open {
        max-height: 100vh;
      }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .nav label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
    .hamburger {
        display: block; /* Muestra la hamburguesa en pantallas más pequeñas */
        cursor: pointer; /* Cambia el cursor al estilo de un puntero */
      }
}